.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin: 0 auto;
  font-family: 'Inter', serif;
  font-size: 18px;
  font-style: normal;
  background-image: repeating-linear-gradient(90deg, var(--background-gradient-color, #d3d3d3), var(--background-gradient-color, #d3d3d3) 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(0deg, var(--background-gradient-color, #d3d3d3), var(--background-gradient-color, #d3d3d3) 2px, transparent 2px, transparent 4px),
  linear-gradient(180deg, var(--background-gradient-start, #e7e7e7), var(--background-gradient-end, #1a1a1a));
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color, #000);
}

.header {
  padding-block-start: 100px;
  font-family: 'Press Start 2P', fantasy;
  margin-block-end: 100px;
  text-transform: uppercase;
}

.header-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
  background-color: var(--background-color, #fff);
  width: 100%;
  justify-content: end;
}

.title {
  margin-block-start: clamp(7.5rem, 6.358rem + 4.923vw, 8.5rem);
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

.subtitle {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
}

.theme-menu {
  margin-block-end: 25px;
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  left: 10px;
  text-transform: uppercase;
  transition: opacity .3s;
  opacity: 1;
  cursor: pointer;
}

.theme-menu__button:focus-visible,
.card__icon-button:focus-visible,
.button-style:focus-visible{
  outline: none;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  background-color: var(--accent-color, #000);
  top: 15px;
  left: 0px;
  height: 2px;
  right: 0px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .3s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.button-style {
  font-family: var(--font-accent, fantasy);
  position: relative;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--accent-color, #000);
  font-size: 14px;
  font-weight: var(--weight-text, 400);
  line-height: 90%;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow .5s;
}

.button-style:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color, #000);
}

.theme-menu__item:not(:first-child){
  margin-block-start: 11px;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus-visible,
.theme-menu__button:disabled,
.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  position: absolute;
  left: -15px;
  top: 0;
  content: '▶';
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: .5s;
  animation-direction: alternate;
}

.main {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color, #000);
  background-color: var(--background-color, #fff);
}

.card:not(:first-child) {
  margin-block-start: 50px;
}

.card__title {
  font-size: 18px;
  padding: 4px 10px 6px 10px;
  font-variation-settings: "wght" var(--weight-title, 700);
  border-bottom: 2px solid var(--accent-color, #000);
}

.img-wrap {
  outline: 2px solid var(--accent-color, #000);
  position: relative;
  aspect-ratio: 1/1;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__lable {
    -webkit-text-stroke: 1px var(--background-color, #fff);
  }
}

@supports not (-webkit-text-stroke: 1px #fff) {
  .card__lable {
    text-shadow: 1px 1px var(--background-color, #fff),
                -1px -1px var(--background-color, #fff),
                1px -1px var(--background-color, #fff),
                -1px 1px var(--background-color, #fff);
  }
}

.card__lable {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  color: var(--accent-color, #000);
  font-family: 'Press Start 2P', fantasy;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.picture {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.filter-sepia {
  filter: sepia(50%);
  -webkit-filter: sepia(50%);
}

.filter-grayscale {
  filter: grayscale(70%);
  -webkit-filter: grayscale(70%);
}

.filter-brightness {
  filter: brightness(150%);
  -webkit-filter: brightness(150%);
}

.filter-blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.filter-contrast {
  filter: contrast(150%);
  -webkit-filter: contrast(150%);
}

.filter-invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.filter-saturate {
  filter: saturate(165%);
  -webkit-filter: saturate(165%);
}

.filter-mix {
  filter: contrast(135%) saturate(165%);
  -webkit-filter: contrast(135%) saturate(165%);
}

.card__content-wrap {
  padding: 25px;
}

.card__text {
  margin-block-end: 27px;
  font-variation-settings: "wght" var(--weight-text, 400);
}

.card__text:last-child {
  margin-block-end: 25px;
}

.social {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
}

.card__icon-button {
  cursor: pointer;
  width: 39px;
  height: 38px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

.card__like-button {
  width: 130px;
  height: 37px;
}

.button-style::before {
  position: absolute;
  content: '';
  transform: scaleX(0);
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #000);
  transition: transform .5s ease-in-out;
  transform-origin: left;
}

.button-style:hover::before{
  transition: transform .5s ease-in-out;
  transform: scaleX(1);
}

.button__text,
.button__floppy {
  z-index: 10;
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

.button-save {
  display:flex;
  align-items: center;
  gap: 8px;
  margin-block-start: 50px;
  margin-block-end: 105px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 16px 19px;
}

dialog {
  position: fixed;
  padding: 30px 30px;
  inset: 0;
  transition: opacity .3s ease-in-out;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--accent-color, #000);
  color: var(--accent-color, #000);
  font-family: 'Press Start 2P', fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  width: clamp(21.313rem, 20.171rem + 4.923vw, 22.313rem);
}

dialog::backdrop {
  background-color: #000;
  opacity: .75;
}

dialog div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-wrap {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;
}

.button-modal {
  margin-top: 30px;
  padding: 9px;
  width: 100%;
}

@media(width < 900px) {
  .button-save {
    flex-direction: column;
  }

  .button-save > .button__floppy {
    width: 28px;
    height: 28px;
  }

  .modal-wrap,
  .modal__form {
    padding: 0 10px;
  }

  .button-modal {
    padding: 11px;
  }

  .button-modal {
    padding-left: 20px;
  }
}