:root {
    --font-main: 'Inter', Serif;
    --font-accent: 'Press Start 2P', fantasy;
    --weight-title: 700;
    --weight-text: 400;
    --button-text-color: #fff;
    --background-color: #fff;
    --background-gradient-color: #d3d3d3;
    --background-gradient-start: #e7e7e7;
    --background-gradient-end: #1a1a1a;
    --accent-color: #000;
}